
html,
body {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
	width: 1200px;
  	margin: 0 auto;
  	color: #000000;
	background-color: #ffffff;
}

.main-header .container {
	position: relative;
}

.logo {
	position: absolute;
	top: 0;
	left: 530px;
	z-index: 1;
	width: 138px;
	margin: 0 auto;
}

.navigation {
	/*width: 1056px;*/
	padding-right: 72px;
	padding-left: 72px;
	color: #000000;
	background-color: #ffffff;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.navigation li {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	vertical-align: top;
}

.navigation li:first-child {
	padding-right: 147px;
}

.navigation li:nth-child(2) {
	padding-right: 390px;
}

.navigation li:nth-child(3) {
	padding-right: 163px;
}

.navigation a {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
  	color: #000000;
	text-decoration: none; 
}

.navigation a:hover {
	color: #81b3d2;
}

.navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.navigation a.active {
	color: #766357;
}

.navigation a.active:hover {
	color: #766357;
}

.navigation a.active:active {
	color: #766357;
	opacity: 1;
}

/*Стили index.html*/

.header-image {
	position: relative;
	width: 1200px;
	height: 508px;
	margin: 0 auto;
}

.main-title {
	position: absolute;
	top: 75px;
	left: 371px;
	width: 458px;
}

.banner-overlay {
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 1200px;
	height: 57px;
	background-image: url("../img/banner-overlay.png");
    background-repeat: no-repeat;
}
	
.about {
	width: 1200px;
	padding-top: 47px;
	padding-bottom: 38px;
}

.about-item {
	width: 576px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

h2 {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.about-item h1 {
	margin-right: 68px;
	margin-bottom: 26px;
	margin-left: 68px;
}

.about-item p {
	margin-right: 43px;
	margin-left: 43px;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	color: #333333;	
}

.features-item {
	width: 1200px;
	margin: 0 auto;	
}

.feature-name {
	width: 400px;
	text-align: center;
	color: #000000;
	background-color: #81b3d2;
}

.town {
	float: left;
}

.features-img-town {
	float: right;
	width: 800px;
	height: 256px;
}

.feature-name h3 {
	margin-top: 54px;
	margin-bottom: 28px;
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
}

.feature-title-town {
	padding-right: 139px;
	padding-left: 139px;
}

.feature-name b, p {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.feature-content-town {
	margin-bottom: 55px;
	padding-right: 60px;
	padding-left: 60px;
	color: #ffffff;
}

.categories {
	width: 1200px;
	margin: 0 auto;
}	

.category {
	float: left;
	width: 400px;
	text-align: center;
}

.category:last-child {
	float: right;
}

.category p {
	margin-bottom: 80px;
	padding: 0 73px 0 73px;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.category p:nth-child(2) {
	padding: 0 50px 0 50px;
}

.category p:nth-child(3) {
	padding: 0 63px 0 63px;
}

.category-title {
    position: relative;
    display: block;
    margin-top: 60px;
	margin-bottom: 27px;
	padding-top: 100px;

	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.category-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    background: transparent url("../img/sprite.png") no-repeat;
}

.accomodation::before {
    width: 75px;
    height: 72px;
    margin-left: -37.5px;
   	background-position: -10px -10px;
}

.food::before {
    width: 95px;
    height: 70px;
    margin-left: -36px;
    margin-top: 2px;
    background-position: -10px -654px;
}

.souvenirs::before {
    top: -4px;
    width: 64px;
    height: 76px;
    margin-left: -32px;
    background-position: -10px -1631px;
}

.features-img-bridge {
	float: left;
	width: 800px;
	height: 256px;
}

.bridge {
	float: right;
}

.feature-title-bridge {
	padding-right: 124.5px;
	padding-left: 124.5px;
}

.feature-content-bridge {
	margin-bottom: 55px;
	padding-right: 40px;
	padding-left: 40px;
}

.features-block {
	width: 1200px;
	margin: 0 auto;
	color: #000000;
	background-color: #eeeeee;
}

.feature-name-small {
	float: left;
	width: 400px;
	text-align: center;
}

.feature-name-small:last-child {
	float: right;
}

.feature-name-small h3 {
	font-weight: bold;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	margin-top: 47px;
	margin-bottom: 24px;
	padding-right: 142px;
	padding-left: 140px;
}

.feature-name-small b, p {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.feature-name-small p {
	margin-top: 22px;
	margin-bottom: 59px;
	padding-left: 65px;
    padding-right: 65px;
}

.hotel-search {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding-top: 54px;
	color: #000000;
	background-color: #ffffff;
}

.hotel-search-title {
	width: 576px;
	margin: 0 auto;
	text-align: center;
}

.hotel-search-title h3 {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 30px;
	line-height: 24px;
	color: #000000;
}

.hotel-search-title p {
	padding-right: 90px;
	padding-left: 90px;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #333333;
}

.hotel-search-form {
	display: block;
	width: 568px;
	margin: 0 auto;
	margin-top: 48px;
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
	text-decoration: none;
	text-align: center;
}

/*Всплывающая форма*/

.modal {
	position: absolute;
	right: 316px;
	top: 291px;
	width: 458px;
	padding: 55px;
	color: #000000;
	background-color: #ffffff;	
	box-shadow: 0 15px 7px 15px rgba(0, 1, 1, 0.15);
}

.formgroup {
	width: 460px; 
}

.formgroup label {
	margin-bottom: 30px;
    padding-top: 14px;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
}

.formgroup input {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
	border: none;
}

.dates {
	position: relative;
	margin-bottom: 30px;
}

.dates input {
	width: 322px;
  	padding: 6px 12px;
}

.checkin-field {
	margin-left: 21px;
	margin-bottom: 27px;
}

.checkout-field {
	margin-left: 17px;
}

.checkin-field + .btn-calendar {
	position: absolute;
	top: 7px;
	right: 12px;
	width: 21px;
    height: 22px;
    font-size: 0;
    border: none;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -282px;
}

.checkout-field + .btn-calendar {
	position: absolute;
	top: 74px;
	right: 12px;
	width: 21px;
    height: 22px;
    font-size: 0;
    border: none;
    background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -282px;
}

.btn-calendar::hover {
	background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -324px;
}

.btn-calendar::active {
	background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -366px;
}

.guests {
	position: relative;
	margin-bottom: 54px;
}

.adults-field {
	width: 38px;
	padding: 6px 38px;
	margin-right: 50px;
	margin-left: 35px;
	padding-right: 38px;
	padding-left: 38px;
	text-align: center;
}

.children-field {
	width: 38px;
	padding: 6px 38px;
	margin-left: 23px;
	padding-right: 38px;
	padding-left: 38px;
	text-align: center;
}

.guests button[type="button"] {
	font-size: 0;
}

.btn-minus-plus {
    position: absolute;
    width: 38px;
    height: 38px;
    border: none;
    background: transparent url("../img/sprite.png") no-repeat;
}

.btn-minus {
	top: 19px;
    left: 125px;
	background-position: -10px -1011px;
}

.btn-minus::hover {
	background-position: -10px -1034px;
}

.btn-minus::active {
	background-position: -10px -1057px;
}

.btn-plus {
	top: 14px;
    left: 200px;
	background-position: -10px -1080px;
}

.btn-plus::hover {
	background-position: -10px -1111px;
}

.btn-plus::active {
	background-position: -10px -1142px;
}

.btn {
	margin-right: 6px;
	font-weight: bold;
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #81b3d2;
	border: none;
	cursor: pointer;
}

.btn-find {
	padding: 16px 196px;
	font-size: 21px;
	line-height: 26px;
}

.btn-find:hover {
	background-color: #669ec0;
}

.btn-find:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.location { 
	width: 1200px;
	margin: 0 auto;
	margin-bottom: -126px;
}

/*Универсальные стили для Footer*/

footer {
	position: relative;
	z-index: 1;
	width: 1200px;
	margin: 0 auto;
	color: #000000;
	background-color: #f9fbf6;
	opacity: 0.9;
}

.tag-us {
	float: left;	
	width: 135px;
	margin: 24px 88px 25px 72px;
	padding: 22.5px 44px 22.5px 61px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	text-align: center;
	text-decoration: none;	
}

.tag-us a {
	text-decoration: none;
}

.social {
	float: left;	
	width: 152px;
	margin: 24px 88px 25px 0;
	padding: 12px 126px 11px 124px;
	text-align: center;
}

.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin: 0 1px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #81b3d2 url("../img/sprite.png") no-repeat center;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background-color: #5496bd;	
}

.social-btn-twit {
	background-position: 5px -4676px;
}

.social-btn-fb {
	background-position: 7px -563px;
}

.social-btn-yt {
    background-position: 3px -4748px;
}

.social-btn-twit:active {
	background-position: 5px -4711px;
}

.social-btn-fb:active {
	background-position: 7px -602px;
}

.social-btn-yt:active {
    background-position: 3px -4784px;
}

.developer {
	position: relative;
	float: right;	
	width: 192px;
	margin: 24px 72px 25px 0;
	padding: 17px 31px 15px 14px;	
}

.developer p {
	position: absolute;
	top: 10px;
	left: 11px;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	vertical-align: top;
	color: #000000;
}

.developer a {
	position: absolute;
	top: 20px;
	left: 93px;
	width: 113px; 
	height: 39px;
	font-size: 0;
	background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -744px;
}

.developer a:hover {
	background-position: -10px -803px;
}

.developer a:active {
	background-position: -10px -862px;
}

/*Стили для hotels.html*/

.filter {
	background: #829fbf url("../img/sedona-blur.jpg") no-repeat;
  	background-size: 1200px auto;
}

.infrastructure {
	float: left;
	width: 240px;
	margin-left: 72px;
	margin-right: 13px;
	padding-top: 10.5px;
	padding-bottom: 6px;
}

.accomodation-type {
	float: left;
	width: 240px;
	padding-top: 10.5px;
	padding-bottom: 6px;
}

.filter p {
	margin-bottom: 26px;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	color: #ffffff;
}

.filter-item input[type="checkbox"] {
	display: none;
}

.filter-checkbox {
	position: relative;
	display: block;
	margin-bottom: 25px;
	padding-left: 37px;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	color: #ffffff;
	cursor: pointer;
}

.filter-checkbox input[type="checkbox"]+.checkbox-indicator {
	position: absolute;
	left: -1px;
	width: 22px;
    height: 22px;
    margin-top: -2px;
	background: transparent url("../img/sprite.png") no-repeat;
    background-position: -10px -408px;
}

.filter-checkbox input[type="checkbox"]:checked +.checkbox-indicator {
	width: 26px;
    height: 22px;
	background-position: -10px -492px;
}

.price-range {
	float: right;
	width: 328px;
	margin-right: 72px;
	padding-top: 29px;
	padding-bottom: 6 px;
	color: #ffffff;
  	text-transform: uppercase;
}

.price-range-title {
  	margin-bottom: 9px;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
	color: #ffffff;
}

.price-controls {
  	position: relative;
  	height: 36px;
  	margin-bottom: 20px;
  	font-size: 0;
  	border: 2px solid #ffffff;
  	border-radius: 2px;
}

.price-controls::after {
  	content: "";
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	width: 2px;
  	height: 22px;
  	background: #ffffff;
  	transform: translate(-50%, -50%);
}

.price-controls label {
  	display: inline-block;
  	font-size: 14px;
  	line-height: 38px;
  	vertical-align: top;
  	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  	width: 90px;
  	padding-left: 65px;
}

.price-controls input {
 	width: 50px;
  	margin: 0;
  	color: inherit;
  	font: inherit;
  	background: none;
  	border: none;
}

.range-controls {
  	position: relative;
  	margin-bottom: 32px;
}

.range-controls .scale {
  	height: 2px;
  	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  	width: 80%;
  	height: 2px;
  	background: #ffffff;
}

.range-toggle {
  	position: absolute;
  	top: -9px;
  	width: 4px;
  	height: 4px;
  	background: #ababab;
  	border: 8px solid #ffffff;
  	border-radius: 50%;
  	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  	cursor: pointer;
}

.range-toggle:hover {
  	background: #1c4f80;
}

.range-toggle-min {
  	left: 0;
}

.range-toggle-max {
  	left: 80%;
}

.btn-small {
	width: 137px;
	margin: 0 auto;
	padding: 5px 12px 5px 12px;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-small:hover {
	color: #000000;
	background-color: #ffffff;
}

.filter-results {
	background-color: #fefefe;
}

.accomodation-found {
	width: 1056px;
	margin: 0 auto;
}

.accomodation-number {
	float: left;
	width: 160px;
}

.accomodation-number p {
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.sorting {
	float: right;
	width: 895px;
}

.sorting-type {
	position: relative;
	float: left;
	width: 569px;
}

.sorting-type p {
	margin-top: 37px;
	margin-left: 4px;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}

.sorting-type ul {
	position: absolute;
	top: 20px;
	left: 77px;
}

.sorting-type li {
	display: inline-block;
	margin-right: 30px;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}

.sorting-type li:first-child {
	color: #81b3d2;
	opacity: 1;
	border-bottom: none;
}

.sorting-type a {
	color: #000000;
	opacity: 0.3;
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-type a.active {
	color: #81b3d2;
	opacity: 1;
	border-bottom: none;
}

.sorting-type a:hover {
	color: #81b3d2;
	opacity: 1;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-type a.active:hover {
	border-bottom: none;
}

.sorting-type a:active {
	color: #000000;
	opacity: 1;
	border-bottom: none;
}

.sorting-arrows {
	position: relative;
	float: right;
	width: 38px;
	margin-top: 30px;
	font-size: 0;
}

.arrow {
	position: absolute;
	display: block;
	width: 11px;
    height: 10px;
	background: transparent url("../img/sprite.png") no-repeat;
}

.sorting-arrow-up {
	top: 9px;
	left: 2px;
    background-position: -10px -252px;
}

.sorting-arrow-up:hover {
	background-position: -10px -192px;
}

.sorting-arrow-up:active {
	background-position: -10px -222px;
}

.sorting-arrow-down {
	top: 8px;
	left: 25px;
    background-position: -10px -132px;
}

.sorting-arrow-down:hover {
	background-position: -10px -102px;
}

.sorting-arrow-down:active {
	background-position: -10px -132px;
}

.accomodation-block {
	width: 1056px;
	margin: 0 auto;
}

.accomodation-item {
	width: 1056px;
	padding: 28px 0 24.5px 0;
}

.accomodation-item a {
	text-decoration: none;
}

.accomodation-item p, b {
	display: inline-block;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.accomodation-info {
	float: left;
	width: 528px;
}

.accomodation-img {
	float: left;
	width: 160px;
	margin-top: 2px;
}

.accomodation-booking {
	position: relative;
	float: right;
	width: 367px;
}

.accomodation-booking h3 {
	position: absolute;
	top: -24px;
	left: 5px;
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #000000;
	opacity: 0.3;
}

.accomodation-booking p {
	position: absolute;
	top: 17px;
	left: 5px;
}

.accomodation-booking b {
	position: absolute;
	top: 31px;
	left: 120px;
}

.btn-details,
.btn-book {
	display: inline-block;
	font-size: 14px;
	line-height: 21px;
	padding: 4px 17px 3px 17px;
}

.btn-details {
	position: absolute;
	top: 65px;
	left: 5px;
	color: #ffffff;
	background-color: #81b3d2;
}

.btn-details:hover {
	color: #ffffff;
	background-color: #669ec0;
}

.btn-details:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.btn-book {
	position: absolute;
	top: 65px;
	left: 120px;
	background-color: #766357;
}

.btn-book:hover {
	color: #ffffff;
	background-color: #604e43;
}

.btn-book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.accomodation-rate {
	position: relative;
	float: right;
	width: 130px;
	margin-top: 53px;
	margin-left: 60px;
	padding-left: 20px;
}

.accomodation-rate p {
	color: #666666;
}

.rate {
	position: absolute;
	top: -1px;
	right: 1px;
	padding: 3px 11px 3px 15px;
	background-color: #f2f2f2;
}

.rate::before {
	content: "";
	position: absolute;
    top: -63px;
    right: -1px;
    background: transparent url("../img/sprite.png") no-repeat;
}

.rate-level-4::before {
	width: 89px;
    height: 17px;
    background-position: -10px -4657px;
}	

.rate-level-3::before {
	width: 65px;
    height: 17px;
    background-position: -10px -4620px;
}

.rate-level-2::before {
	width: 42px;
    height: 17px;
    background-position: -10px -4583px;
}


/*Спрайты*/

/*.sprite {
    background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-accomodation-icon {
    width: 75px;
    height: 72px;
    background-position: -10px -10px;
}

.sprite-arrow-down-black {
    width: 11px;
    height: 10px;
    background-position: -10px -102px;
}

.sprite-arrow-down-blue {
    width: 11px;
    height: 10px;
    background-position: -10px -132px;
}

.sprite-arrow-down-grey {
    width: 11px;
    height: 10px;
    background-position: -10px -162px;
}

.sprite-arrow-up-black {
    width: 11px;
    height: 10px;
    background-position: -10px -192px;
}

.sprite-arrow-up-blue {
    width: 11px;
    height: 10px;
    background-position: -10px -222px;
}

.sprite-arrow-up-grey {
    width: 11px;
    height: 10px;
    background-position: -10px -252px;
}

.sprite-calender {
    width: 21px;
    height: 22px;
    background-position: -10px -282px;
}

.sprite-calender-pointed {
    width: 21px;
    height: 22px;
    background-position: -10px -324px;
}

.sprite-calender-pressed {
    width: 21px;
    height: 22px;
    background-position: -10px -366px;
}

.sprite-checkbox {
    width: 22px;
    height: 22px;
    background-position: -10px -408px;
}

.sprite-checkbox-blocked {
    width: 22px;
    height: 22px;
    background-position: -10px -450px;
}

.sprite-checkbox-checked {
    width: 26px;
    height: 22px;
    background-position: -10px -492px;
}

.sprite-checkbox-checked-blocked {
    width: 26px;
    height: 22px;
    background-position: -10px -534px;
}

.sprite-fb-icon {
    width: 10px;
    height: 19px;
    background-position: -10px -576px;
}

.sprite-food-icon {
    width: 74px;
    height: 70px;
    background-position: -10px -615px;
}

.sprite-ha-logo {
    width: 113px;
    height: 39px;
    background-position: -10px -705px;
}

.sprite-ha-logo-pointed {
    width: 113px;
    height: 39px;
    background-position: -10px -764px;
}

.sprite-ha-logo-pressed {
    width: 113px;
    height: 39px;
    background-position: -10px -823px;
}

.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -10px -882px;
}

.sprite-minus-pointed {
    width: 12px;
    height: 3px;
    background-position: -10px -905px;
}

.sprite-minus-pressed {
    width: 12px;
    height: 3px;
    background-position: -10px -928px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -10px -951px;
}

.sprite-plus-pointed {
    width: 11px;
    height: 11px;
    background-position: -10px -982px;
}

.sprite-plus-pressed {
    width: 11px;
    height: 11px;
    background-position: -10px -1013px;
}

.sprite-range {
    width: 21px;
    height: 23px;
    background-position: -10px -1044px;
}

.sprite-range-pointed {
    width: 21px;
    height: 23px;
    background-position: -10px -1087px;
}

.sprite-souvenirs-icon {
    width: 64px;
    height: 76px;
    background-position: -10px -1130px;
}

.sprite-stars-2 {
    width: 42px;
    height: 17px;
    background-position: -10px -1226px;
}

.sprite-stars-3 {
    width: 65px;
    height: 17px;
    background-position: -10px -1263px;
}

.sprite-stars-4 {
    width: 89px;
    height: 17px;
    background-position: -10px -1300px;
}

.sprite-twitter-icon {
    width: 17px;
    height: 15px;
    background-position: -10px -1337px;
}

.sprite-youtube-icon {
    width: 20px;
    height: 16px;
    background-position: -10px -1372px;
}
